<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>

  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%= link_to 'remove', review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit 'Add Review', class: 'btn btn-primary' %>
  <% end %>


  <%#= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
</div>
